<!DOCTYPE html>
<html  lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>认证</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel='stylesheet prefetch' href='https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
{#    <link rel="stylesheet" href="../static/css/style.css">#}
    {% assets "css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>
<body>
<header class="example-header" id="top">
    <h1 class="text-center">个人微型博客</h1>
</header>
<div class="row" style="width: 100%; text-align: center; margin: 80px auto;">
   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">LOCKED</button>
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">输入密码</h4>
      </div>
      <div class="modal-body">
           <form action="/login/" method="post">
               <div class="modal-body">
                   <div class="form-group">
                       <input type="password" style="Float:left;width:75%" class="form-control" name="password" id="password">
                       <input type="submit" style="Float:left;width:25%;" class="btn btn-info" value="提交">
                   </div>
               </div>
           </form>
      </div>

    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="row example-split"> <!-- basic/split/centered -->
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <ul class="timeline timeline-split"> <!-- basic/split/centered -->
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Feb 29, 2020</span> <!-- 打卡时间 -->
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">START</h3> <!--打卡标题 -->
                        <p>Doing is better than saying. 行胜于言。</p> <!-- 打卡逼话 -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="example-bottom">
    <p>Here is my Blog <a href="#" target="_blank">个人微型博客</a></p>
    <P>©FOCUSEDS 2020</P>
    <p>Power by FC</p>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>